:root {
    /* Color */
    --white-color: #ffffff;
    --black-color: #252525;
    --blue-color: #488ac7;
    --red-color: #b94a48;
    --grey-dark-color: #bebebe;
    --grey-light-color: #f0f0f0;

    /*size */
    --padding: 12px;
    --avatar-size: 36px;

    /* Font size */
    --font-large: 25px;
    --font-medium: 18px;
    --font-small: 12px;
    --font-micro: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

@font-face {
    font-family: 'MapoFlowerIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'IBMPlexSansKR-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
 



body{
    font-family: 'IBMPlexSansKR-Regular';
}

h2 {
    font-family: 'IBMPlexSansKR-Regular';
    padding-block: 0px;
    margin-block: 0px;
}



a {
    color:var(--black-color);
    text-decoration: none;
}
  
h4 {
    color: var(--white-color);
    padding-block: 0px;
    margin-block: 0px;
}

h5 {
    font-family: 'IBMPlexSansKR-Regular';
    font-size: var(--font-medium);
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding);
    background-color: var(--white-color);
    color: #fff;
    border-bottom: 1px solid var(--black-color);
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-size: var(--font-medium); */
}


.channel {
    background-color: var(--grey-light-color);
    padding: var(--padding);
}

.list {
    
    margin: var(--padding);
    background-color: var(--grey-light-color);
    font-size: var(--font-sm);
    color: var(--blue-color);

}

.list li {
    background-color: var(--grey-light-color);
    
    
}


/* Video player */
.player {
   position: relative; width: 100%; padding-bottom: 56.25%;
    background-color:white;
}
.player iframe{
    position: absolute; width: 100%; height: 100%;
}

.player .img img {
    width: 100%;
}

/* image */
.image .img img {
    width: 100%;
}


/* Info */
.info {
    padding: var(--padding);
    background-color: var(--grey-light-color);
}

.info .metadata .title {
    font-size: var(--font-large);
    font-family: 'MapoFlowerIsland';
}
.info .metadata .title 
a {
    color: #00227b;
}


/*Up next */
.upNext {
    display: flex;
    justify-content: space-between;
    padding: 0 var(--padding)
    margin-right: var(--padding)
    border-top: 1px solid var(--grey-dark-color);
    background-color: var(--blue-color);
    text-align: right;
}


.footer {
    padding: var(--padding)
    margin-left: var(--padding)
    margin-bottom:var(--padding)
    border-top: 1px solid var(--black-color);
   
}